
.main {
    /* background: linear-gradient(45deg,#665fee 0%,#27c2de 100%); */
    /* background-image: url("https://www.nasa.gov/sites/default/files/p1414aw_0.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 1000px;
    z-index: 400;
}
body {
    background-color: #f2f4f9;
}

.footer {
    z-index: 401;
    position: relative;
}

.card {
    z-index: 400;
}

.main:after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: -600px;
    height: 300px;
    width: 140%;
    background-color: #f2f4f9;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}