
.main {
    /* background: linear-gradient(45deg,#665fee 0%,#27c2de 100%); */
    /* background-image: url("https://www.nasa.gov/sites/default/files/p1414aw_0.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 1000px;
    z-index: 400;
}
body {
    background-color: #ebebeb;
    
    
}

.footer {
    z-index: 401;
    position: relative;
}

.card {
    z-index: 400;
}

.hv-avatar:hover {
    transform: scale(1.02);
    transition: all .5s ease-in-out;
}
